body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* تغییر این خط به عمودی */
    justify-content: center;
    align-items: center;
}

.navBar {
    display: flex;
    width: 100%;
    margin-top: 0;
    padding: 5px; /* تغییر پدینگ */
    justify-content: space-between; /* تغییر از راست به فضا بینی */
    background: white;
}

.nav ul {
    display: flex;
    list-style: none; /* تغییر از li به ul */
}

.nav ul li {
    margin-left: 20px; /* تغییر از margin-right به margin-left */
}

.nav ul li a {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

.nav ul li a:hover {
    color: rgba(0, 0, 0, 0.705);
    font-size: 19.5px;
}

.center {
    text-align: center;
}

.contact-container {
    max-width: 800px;
    padding: 20px;
    
    background-color: #ffffffd8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 55px; /* اضافه شدن فاصله بین Navbar و فرم */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px; /* اضافه شدن فاصله بین عنوان و محتوا */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
textarea {
    width: 80%; /* عرض 100% برای پر کردن تمام عرض صفحه */
    margin: 10px 0; /* تغییر در مارجین */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.social-links i {
    margin-right: 10px;
    font-size: 20px;
}
