body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* تغییر این خط به عمودی */
    justify-content: center;
    align-items: center;
}
.navBar{
    display: flex;
    padding-top: 10px;
    padding-right: 20px;
    width: 100%;
    justify-content: right;
    background: linear-gradient(90deg, #3498db, #2ecc71);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2);}
.nav ul {
    display: flex;
}
.nav ul li{
    list-style: none;
}

.nav ul li a{
font-size: 20px;
color: #000000;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 40px;
text-decoration: none;
}

.nav ul li a:hover{
    color: rgba(0, 0, 0, 0.705);
    font-size: 19.7px;
    }
.center {
    text-align: center;
}

.contact-container {
    max-width: 800px;
    padding: 20px;
    color: white;
    background: linear-gradient(90deg, #3498db27, #2ecc7016);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 55px; /* اضافه شدن فاصله بین Navbar و فرم */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px; /* اضافه شدن فاصله بین عنوان و محتوا */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
textarea {
    width: 80%; /* عرض 100% برای پر کردن تمام عرض صفحه */
    margin: 10px 0; /* تغییر در مارجین */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #3498db;

}

.social-links i {
    margin-right: 10px;
    font-size: 20px;
}

@media only screen and (max-width: 450px){
    .navBar{
        display: block;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .container{
        padding: 40px;
    }
    .nav ul li a{
        font-size: 15px;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: center;
        text-align: center;
    }
    .nav ul li a:hover{
        color: rgba(0, 0, 0, 0.705);
        font-size: 14px;
        }
}
.footer {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-text {
    font-size: 14px;
    color: #fbfbfb;
  }
  
  .footer-heart {
    font-size: 14px;
    color: #e74c3c;
  }

  .footer small{
    display: block;
    position: absolute;
    margin: 0 auto;
    margin-top: 40px;
    color: #797979;
  }
