/* استایل عمومی */
body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;

}

    
.navBar{
    display: flex;
    padding-top: 25px;
    padding-right: 20px;
    justify-content: right;
    background: white;
}

.nav ul {
    display: flex;
}
.nav ul li{
    list-style: none;
}

.nav ul li a{
font-size: 20px;
color: #000000;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 40px;
text-decoration: none;
}
.container {
    color: rgb(255, 254, 254);
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

/* استایل گالری عکس */
.gallery {
    max-width: 1200px;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.galleryTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px;
    margin-top: 30px;

}
.container .caption 
{

    text-align: center !important;
    padding: 5px;
    color: rgb(255, 254, 254);
}
.gallery img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}
#img1{
    width: 950px;
    height: 380px;
}
#img2{
    height: 460px;
}
#img3{
    width: 560px;
    height: 520px;
}
#img4{
    width: 360px;
    height: 520px;
}
#img5{
    width: 460px;
    height: 640px;
}
#img6{
    width: 950px;
    height: 520px;
}
#img7{
    width: 950px;
    height: 400px;
}

.gallery img:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* استایل پاپ آپ */
.modal-body {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

@media only screen and (max-width: 450px) {
    #img1 {
        width: 300px;
        height: 400px;
    }
    #img2 {
        width: 400px;
        height: 400px;
    }
    #img3 {
        width: 300px;
        height: 400px;
    }
    #img4 {
        width:300px;
        height: 400px;
    }
    #img5 {
        width: 400px;
        height: 400px;
    }
    #img6 {
        width: 300px;
        height: 400px;
    }
    #img8 {
        width: 450px;
        height: 400px;
    }
    
    .navBar{
        display: block;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .nav ul li a{
        font-size: 15px;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: center;
        text-align: center;
    }
}
